html {
  font-size: 62.5%;
  box-sizing: border-box;
  /* converted root fontsize to 62.5% to allow rem values be in base the >>>>  100px = 10rem */
}

/* education and experiences */
button>p:hover,
button {
  color: #AF0116 !important;
  text-transform: capitalize !important;
}

button:hover {
  border: 1px solid #AF0116 !important;
}


.gridContainer {
  grid-template-areas:
    'saed KodeCamp'
    'Perxels Tech4dev'
    'Obafemi Hub';
}

@media screen and (max-width:992px) {
  .gridContainer {
    grid-template-areas:
      'saed'
      'KodeCamp'
      'Perxels'
      'Tech4dev'
      'Obafemi'
      'Hub'
  }
}